.container{
    height: 100%;
}
footer{
  left:0;
  bottom:0px;
  text-align: center;
  width: 100%;
  margin-top:2%;
}

.heading{
    text-align: center;
    font-family: 'Zen Dots'; 
    box-shadow: 5px 10px; 
    font-size: 100px;
  }



/*Nav Bar Styling Starts*/
.topnav {
    overflow: hidden;
    margin-top: 20px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /*Nav Bar Styling Ends*/

.row{
    margin-top:5%;
    text-align: center;
    
    justify-content: center;
}

h3{
    font-family:'Zen Dots';
}